<div class="module linkbutton" ng-controller="linkbuttonController">
    <!-- write your module html here -->
    <div ng-repeat="value in menuItems">
        <div ng-style="position">
            <a ng-show="showModule" class="button--cta" ng-style="styles" data-ng-click="redirectButton(value.path)">{{value.name}}</a>
            <a ng-show="!showModule" class="button--cta" ng-style="styles" href="{{value.path}}" target="_blank">{{value.name}}</a>
        </div>
    </div>
    <!-- end module html -->
</div>
